.vscode/
vs/.vs/
vs/Debug
vs/Release
vs/*.user

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.bsc
bin/*obj
bin/*map
bin/*pdb
bin/*.dll
bin/gnuplot
bin/results

*.gpl
*.js
emscripten/BOSS.data
*.o