.vscode/
vs/.vs/
vs/Debug
vs/Release
vs/x64

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/*.pdb
bin/*.lib
bin/*.bsc
bin/*obj
bin/*map
bin/*pdb
bin/*.dll
bin/*.idb
bin/gnuplot
bin/results
*.gpl
emscripten/BOSS.data
emscripten/BOSS.js
*.o
